
:root {
  --border-radius: 5px;
  --padding: 5px;
}

.nav-bar {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.menu-nav-bar {
  position: absolute;
  left: 15px;
}

button {
  color: white;
  background-color: #003FE5;

  font-size: large;
  
  padding: var(--padding);
  
  border: none;
  border-radius: var(--border-radius);

  cursor: pointer;
  transition: 0.3s;
}

input {
  width: 60%;
  padding: var(--padding);

  font-size: large;

  outline: none;
  border: none;
  border-radius: var(--border-radius);
}

img {
  display: flex;
  justify-content: center;
}

/* hover section */

button:hover {
  background-color: #4378fc;
}